:root{
    --current_color:black;
    --bg:rgb(31, 37, 61);
    --settings_bg:rgb(90, 101, 125) ;
    --button_color1: rgb(240, 248, 255);
    --button_color2:rgb(25, 32, 61);
}
.content{
    display: flex;
    height: inherit;
    width: inherit;
    background-color:var(--bg); 
    flex-wrap: wrap;
   justify-content: space-around;
    align-items: center;
}
.settings,.sketch{
    
    border-radius: .6rem;
    margin: .5rem;
}
p{
    text-align: center;
}
html,body{
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}
.settings{
    width:max-content;
    text-align: center;
    background-color:var(--settings_bg);
    padding: 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.sketch{
    box-shadow: 0px 0px 7px 0px aliceblue;
    display: grid;
    width: max(45vw,400px);
    height:max(45vw,400px);
    user-select: none;
   cursor:url(./images/pen.cur)-35 35,auto;
   margin: 1rem;
}

.sketch>div{
    background-color: aliceblue;
}
header,footer{
   
    color:var(--button_color1);
    margin: 0;
    padding:1rem;
}
header{
    font-size:3rem;
    font-weight: bold;
}
button{
    width:max(200px,20vw);
    margin: .5rem;
    font-size: 1.5rem;
    height: 3rem;
    color: var(--button_color2);
    background-color: var(--button_color1);
    border-radius: .5rem;
}
.selected{
    background-color: var(--button_color2);
    color:var(--button_color1);
}
button:hover{
    transform: scale(1.03,1.03);
}
